@model IEnumerable<TrabajoFinalProgramacion.Models.Profesore>

@{
    ViewData["Title"] = "Index";
}

<h1>Profesores</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                        <a class="btnpurple link"  asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                           
                        
                </td>
            </tr>
        }
    </tbody>
</table>

               